
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-30-M11 {
  overflow: hidden;
  background-color: #3badab;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .logo-without-reverse-2-h4s {
    vertical-align: top;
    width: 20.6rem;
    height: 20.6rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
  .frame-14-RmZ {
    padding: 7.5rem 12.2rem 6.85rem 12.2rem;
    top: 14.1rem;
    border-radius: 5rem;
    box-sizing: border-box;
    width: 108rem;
    height: 75rem;
    position: absolute;
    left: 18rem;
    background-color: #ffffff;

    .steps-wE7 {
      display: flex;
      align-items: center;
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 0.92;
      margin-bottom: 0.95rem;
      justify-content: center;
      color: #3badab;
      font-family: League Spartan, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
    }
    .in-disposing-your-e-waste-TCT {
      color: #3badab;
      font-family: League Spartan, 'Source Sans Pro';
      margin-bottom: 4.5rem;
      max-width: 35.5rem;
      display: flex;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 0.92;
    }
    .auto-group-kbnp-mD9 {
      width: 36.9rem;
      height: 34.5rem;
      position: relative;

      .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym {
        top: 0;
        display: flex;
        line-height: 0.92;
        width: 36.9rem;
        left: 0;
        font-size: 3.2rem;
        font-weight: 400;
        color: #3badab;
        font-family: League Spartan, 'Source Sans Pro';
        height: 34.5rem;
        position: absolute;

        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-0 {
          line-height: 0.92;
          color: #3badab;
          font-family: League Spartan, 'Source Sans Pro';
          font-size: 3rem;
          font-weight: 400;
        }
        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-1 {
        }
        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-2 {
          color: #000000;
          font-family: League Spartan, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 0.92;
        }
        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-3 {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 0.92;
          color: #000000;
          font-family: League Spartan, 'Source Sans Pro';
        }
        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-4 {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 0.92;
          color: #000000;
          font-family: League Spartan, 'Source Sans Pro';
        }
        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-5 {
        }
        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-6 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.92;
          color: #000000;
          font-family: League Spartan, 'Source Sans Pro';
        }
        .step-5-press-the-send-points-to-my-account-to-transfer-your-points-to-your-account-Jym-sub-7 {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 0.92;
          color: #000000;
          font-family: League Spartan, 'Source Sans Pro';
        }
      }
      .frame-20-EH5 {
        top: 17.85rem;
        align-items: center;
        font-size: 3.2rem;
        line-height: 0.92;
        position: absolute;
        justify-content: center;
        font-family: League Spartan, 'Source Sans Pro';
        border: solid 0.5rem #3badab;
        left: 0;
        font-weight: 700;
        background-color: #3badab;
        border-radius: 4rem;
        width: 17.6rem;
        height: 5.7rem;
        display: flex;
        color: #ffffff;
        white-space: nowrap;
        box-sizing: border-box;
      }
    }
  }
  .image-4-GUf {
    left: 72rem;
    top: 37.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 54rem;
    height: 33.1rem;
    position: absolute;
  }
  .hand-1-CNK {
    width: 9rem;
    height: 9rem;
    position: absolute;
    left: 106.6rem;
    top: 65.6rem;
    object-fit: cover;
    vertical-align: top;
  }
}
