
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-28-i4o {
  position: relative;
  overflow: hidden;
  background-color: #3badab;
  width: 100%;
  height: 102.4rem;

  .logo-without-reverse-2-3My {
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 20.6rem;
    height: 20.6rem;
    position: absolute;
    left: 0;
  }
  .frame-14-yWX {
    position: absolute;
    left: 18rem;
    border-radius: 5rem;
    box-sizing: border-box;
    padding: 2.9rem 5.8rem 2.95rem 12.2rem;
    width: 108rem;
    height: 75rem;
    top: 13.7rem;
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;

    .auto-group-re4f-UCP {
      flex-direction: column;
      flex-shrink: 0;
      margin: 5rem 7.4rem 0rem 0rem;
      width: 40.9rem;
      align-items: center;
      display: flex;

      .auto-group-d6sz-zAj {
        box-sizing: border-box;
        padding-bottom: 8.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .steps-vaB {
          font-family: League Spartan, 'Source Sans Pro';
          margin-bottom: 0.95rem;
          align-items: center;
          justify-content: center;
          line-height: 0.92;
          color: #3badab;
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          font-size: 9.6rem;
          font-weight: 700;
        }
        .in-disposing-your-e-waste-qSF {
          color: #3badab;
          font-family: League Spartan, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 35.5rem;
          display: flex;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 0.92;
        }
      }
      .auto-group-km4b-kp7 {
        width: 100%;
        height: 33.9rem;
        position: relative;
        flex-shrink: 0;

        .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD {
          color: #3badab;
          position: absolute;
          left: 0;
          display: flex;
          font-weight: 400;
          line-height: 0.92;
          font-family: League Spartan, 'Source Sans Pro';
          width: 40.9rem;
          height: 33.9rem;
          top: 0;
          font-size: 3.2rem;

          .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-0 {
            font-size: 3rem;
            font-weight: 400;
            line-height: 0.92;
            color: #3badab;
            font-family: League Spartan, 'Source Sans Pro';
          }
          .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-1 {
          }
          .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-2 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 0.92;
            color: #000000;
            font-family: League Spartan, 'Source Sans Pro';
          }
          .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-3 {
            font-family: League Spartan, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 0.92;
            color: #000000;
          }
          .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-4 {
          }
          .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-5 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 0.92;
            color: #000000;
            font-family: League Spartan, 'Source Sans Pro';
          }
          .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-6 {
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 0.92;
            color: #000000;
            font-family: League Spartan, 'Source Sans Pro';
          }
        }
        .frame-18-aib {
          top: 18.55rem;
          align-items: center;
          white-space: nowrap;
          border-radius: 4rem;
          height: 5.7rem;
          position: absolute;
          display: flex;
          justify-content: center;
          font-size: 3.2rem;
          font-weight: 700;
          color: #ffffff;
          border: solid 0.5rem #3badab;
          background-color: #3badab;
          left: 0;
          line-height: 0.92;
          font-family: League Spartan, 'Source Sans Pro';
          box-sizing: border-box;
          width: 17.6rem;
        }
      }
    }
    .auto-group-h1uj-DQB {
      padding: 2.1rem 0.6rem;
      border: solid 0.3rem #3badab;
      background-color: #ffffff;
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 5.7rem 48.15rem 0rem;
      box-sizing: border-box;

      .smartphone-call-1-Ky1 {
        width: 16.8rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-kmd1-E4P {
      flex-shrink: 0;
      margin-bottom: 48.15rem;
      box-sizing: border-box;
      padding: 2.1rem 0rem 2.1rem 1.1rem;
      border: solid 0.3rem #3badab;
      background-color: #ffffff;
      border-radius: 2rem;

      .remote-control-1-Y55 {
        width: 16.9rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .rectangle-24-dMR {
    height: 21rem;
    left: 78.5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 18rem;
    position: absolute;
    top: 40.7rem;
    border: solid 0.3rem #3badab;
    border-radius: 2rem;
  }
  .rectangle-27-vrK {
    height: 21rem;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 2rem;
    width: 18rem;
    left: 78.5rem;
    top: 64.8rem;
    border: solid 0.3rem #3badab;
  }
  .rectangle-26-3g3 {
    left: 102.2rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 2rem;
    width: 18rem;
    height: 21rem;
    position: absolute;
    top: 40.7rem;
    border: solid 0.3rem #3badab;
  }
  .adapter-1-y3u {
    object-fit: cover;
    vertical-align: top;
    width: 15.8rem;
    height: 15.8rem;
    position: absolute;
    left: 79.6rem;
    top: 43.3rem;
  }
  .mouse-1-hkb {
    position: absolute;
    left: 103.3rem;
    top: 43.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 16.5rem;
    height: 16.5rem;
  }
  .wristwatch-1-deF {
    position: absolute;
    left: 79.5rem;
    top: 68.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 16rem;
    height: 16rem;
  }
}
