
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-23-ceB {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #3badab;

  .rectangle-17-xCF {
    background-color: #82cfcd;
    border-radius: 1rem;
    width: 120.5rem;
    height: 7rem;
    position: absolute;
    left: 11.7rem;
    top: 16.5rem;
  }
  .rectangle-18-ge3 {
    left: 11.7rem;
    top: 21.9rem;
    background-color: #ffffff;
    width: 120.5rem;
    height: 68.7rem;
    position: absolute;
  }
  .logo-without-reverse-2-RLj {
    width: 20.6rem;
    height: 20.6rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .frame-18-kP1 {
    width: 45rem;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 5rem;
    height: 9rem;
    line-height: 0.92;
    border: solid 0.5rem #3badab;
    box-sizing: border-box;
    background-color: #3badab;
    top: 74.1rem;
    display: flex;
    font-size: 3.2rem;
    font-family: League Spartan, 'Source Sans Pro';
    position: absolute;
    left: 25.3rem;
    color: #ffffff;
    white-space: nowrap;
  }
  .frame-19-pNs {
    font-family: League Spartan, 'Source Sans Pro';
    border: solid 0.5rem #3badab;
    box-sizing: border-box;
    position: absolute;
    top: 74.1rem;
    font-weight: 700;
    line-height: 0.92;
    color: #ffffff;
    border-radius: 5rem;
    height: 9rem;
    display: flex;
    font-size: 3.2rem;
    white-space: nowrap;
    width: 45rem;
    align-items: center;
    justify-content: center;
    left: 73.6rem;
    background-color: #3badab;
  }
  .account-id-VE7 {
    line-height: 0.92;
    font-family: League Spartan, 'Source Sans Pro';
    top: 28.05rem;
    position: absolute;
    left: 16rem;
    display: flex;
    align-items: center;
    color: #000000;
    height: 3rem;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 400;
    white-space: nowrap;
    width: 13.9rem;
  }
  .rectangle-19-QM5 {
    width: 112rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
    height: 5rem;
    position: absolute;
    left: 16rem;
    top: 33.6rem;
    border: solid 0.1rem #000000;
  }
  .item-00001-Kyq {
    font-size: 3.2rem;
    font-weight: 400;
    font-family: League Spartan, 'Source Sans Pro';
    width: 8.5rem;
    height: 3rem;
    position: absolute;
    align-items: center;
    white-space: nowrap;
    left: 19.4rem;
    top: 35.05rem;
    display: flex;
    justify-content: center;
    line-height: 0.92;
    color: #000000;
  }
  .waste-S2s {
    align-items: center;
    height: 3rem;
    display: flex;
    font-weight: 400;
    font-family: League Spartan, 'Source Sans Pro';
    position: absolute;
    justify-content: center;
    color: #000000;
    white-space: nowrap;
    left: 16rem;
    font-size: 3.2rem;
    line-height: 0.92;
    width: 8.1rem;
    top: 42.15rem;
  }
  .rectangle-20-9hy {
    border: solid 0.1rem #000000;
    width: 112rem;
    position: absolute;
    left: 16rem;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 5rem;
    top: 46.7rem;
    box-sizing: border-box;
  }
  .total-points-UVM {
    position: absolute;
    display: flex;
    height: 3rem;
    top: 55.25rem;
    justify-content: center;
    font-size: 3.2rem;
    color: #000000;
    left: 16rem;
    align-items: center;
    line-height: 0.92;
    font-family: League Spartan, 'Source Sans Pro';
    white-space: nowrap;
    width: 15.1rem;
    font-weight: 400;
  }
  .rectangle-21-zib {
    left: 16rem;
    width: 112rem;
    position: absolute;
    top: 59.8rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 5rem;
  }
  .remote-i8o {
    font-family: League Spartan, 'Source Sans Pro';
    font-weight: 400;
    line-height: 0.92;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
    font-size: 3.2rem;
    width: 10rem;
    left: 18.7rem;
    top: 47.95rem;
  }
  .points-phd {
    height: 3rem;
    position: absolute;
    color: #000000;
    font-family: League Spartan, 'Source Sans Pro';
    width: 12.3rem;
    align-items: center;
    font-size: 3.2rem;
    white-space: nowrap;
    left: 19.4rem;
    top: 60.75rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 0.92;
  }
}
