
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-12-h9H {
  background-color: #3badab;
  box-sizing: border-box;
  padding-right: 29.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  .logo-without-reverse-2-qWP {
    margin-right: 10.4rem;
    width: 20.6rem;
    height: 20.6rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-yo3u-NmD {
    margin-top: 13.7rem;
    width: 83.3rem;
    height: 78.4rem;
    position: relative;
    flex-shrink: 0;

    .istockphoto-1390051517-612x612-removebg-preview-1-7io {
      left: 16rem;
      top: 1rem;
      object-fit: cover;
      vertical-align: top;
      width: 50rem;
      height: 50rem;
      position: absolute;
    }
    .frame-14-2Ky {
      position: absolute;
      top: 0;
      background-color: #ffffff;
      border-radius: 5rem;
      box-sizing: border-box;
      padding: 7.9rem 8.15rem 45.45rem 8.15rem;
      width: 82rem;
      height: 75rem;
      left: 0;

      .dispose-whq {
        font-family: League Spartan, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.95rem;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 700;
        color: #3badab;
        justify-content: center;
        font-size: 9.6rem;
        line-height: 0.92;
      }
      .your-electronic-waste-TRH {
        font-family: League Spartan, 'Source Sans Pro';
        margin-left: 0.05rem;
        max-width: 40.4rem;
        display: flex;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 0.92;
        color: #3badab;
      }
    }
    .waste-1-x79 {
      top: 38.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 31.1rem;
      height: 31.1rem;
      position: absolute;
      left: 7.8rem;
    }
    .frame-18-UbH {
      border-radius: 4rem;
      justify-content: center;
      color: #ffffff;
      white-space: nowrap;
      border: solid 0.5rem #3badab;
      background-color: #3badab;
      height: 8.5rem;
      display: flex;
      box-sizing: border-box;
      width: 23rem;
      position: absolute;
      align-items: center;
      font-size: 3.2rem;
      line-height: 0.92;
      left: 50rem;
      top: 57.8rem;
      font-weight: 700;
      font-family: League Spartan, 'Source Sans Pro';
    }
  }
}
