html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 100%;
}
.desktop-29-mXM {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #3badab;
}
.desktop-29-mXM .logo-without-reverse-2-KYs {
  width: 20.6rem;
  height: 20.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-29-mXM .frame-14-er3 {
  box-sizing: border-box;
  padding: 7.9rem 12.2rem 9.3rem 12.2rem;
  width: 108rem;
  height: 75rem;
  position: absolute;
  left: 18rem;
  top: 13.7rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.desktop-29-mXM .frame-14-er3 .steps-NGF {
  margin-bottom: 0.95rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-29-mXM .frame-14-er3 .in-disposing-your-e-waste-VLs {
  margin-bottom: 7.35rem;
  max-width: 35.5rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM .frame-14-er3 .auto-group-elxf-DXm {
  width: 41.9rem;
  height: 28.8rem;
  position: relative;
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1 {
  width: 41.9rem;
  height: 28.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-1 {
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-2 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-4 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-5 {
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-6 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM
  .frame-14-er3
  .auto-group-elxf-DXm
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1
  .step-4-press-the-add-another-e-waste-button-for-additional-disposal-AT1-sub-7 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-29-mXM .frame-14-er3 .auto-group-elxf-DXm .frame-19-fq1 {
  width: 17.6rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 12.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.92;
  color: #ffffff;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #3badab;
  box-sizing: border-box;
  background-color: #3badab;
  border-radius: 4rem;
}
.desktop-29-mXM .image-4-ioH {
  width: 54rem;
  height: 33.1rem;
  position: absolute;
  left: 72rem;
  top: 37.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-29-mXM .hand-1-ruV {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 85.2rem;
  top: 65.7rem;
  object-fit: cover;
  vertical-align: top;
}
