html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 100%;
}

.desktop-31-zab {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #3badab;
  padding-top: 5rem;
}

.logo-without-reverse-2-8wh {
  width: 20.6rem;
  height: 20.6rem;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  object-fit: cover;
}

.frame-14-tAB {
  box-sizing: border-box;
  padding: 7.9rem 12.2rem 14.6rem;
  width: 100%;
  max-width: 108rem;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5rem;
  margin-top: 20.6rem; /* Adjust the margin-top to accommodate the logo */
}

.steps-a31 {
  margin-bottom: 0.95rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}

.in-disposing-your-e-waste-Hy1 {
  margin-bottom: 24.05rem;
  max-width: 35.5rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
}

.step-and-image-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.step-text {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
}

.ewaste-image {
  width: 50%; /* Make the image fill the width of its container */
  height: 100%; /* Maintain aspect ratio */
  max-height: 400rem; /* Set maximum height */
}

.next-button {
  width: 17.6rem;
  height: 5.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.92;
  color: #ffffff;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #3badab;
  box-sizing: border-box;
  background-color: #3badab;
  border-radius: 4rem;
  cursor: pointer;
}
