html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 100%;
}
.desktop-27-eXR {
  box-sizing: border-box;
  padding-bottom: 7.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3badab;
}
.desktop-27-eXR .logo-without-reverse-2-bSf {
  margin-right: 123.4rem;
  width: 20.6rem;
  height: 20.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-27-eXR .logo-without-reverse-1-vUw {
  margin-bottom: 13.3rem;
  width: 50rem;
  height: 50rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-27-eXR .frame-17-Tjm {
  margin: 0 22rem;
  width: calc(100% - 44rem);
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #3badab;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
