
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-28-i4o {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #3badab;
}
.desktop-28-i4o .logo-without-reverse-2-3My {
  width: 20.6rem;
  height: 20.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-28-i4o .frame-14-yWX {
  box-sizing: border-box;
  padding: 2.9rem 5.8rem 2.95rem 12.2rem;
  width: 108rem;
  height: 75rem;
  position: absolute;
  left: 18rem;
  top: 13.7rem;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 5rem;
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP {
  margin: 5rem 7.4rem 0rem 0rem;
  width: 40.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-d6sz-zAj {
  box-sizing: border-box;
  padding-bottom: 8.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-d6sz-zAj .steps-vaB {
  margin-bottom: 0.95rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-d6sz-zAj .in-disposing-your-e-waste-qSF {
  max-width: 35.5rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 {
  width: 100%;
  height: 33.9rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD {
  width: 40.9rem;
  height: 33.9rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.92;
  color: #3badab;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-1 {
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-4 {
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-5 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD .step-1-prepare-your-e-waste-our-machine-only-accepts-phone-remote-charger-adapter-computer-mouse-and-watch-uBD-sub-6 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
}
.desktop-28-i4o .frame-14-yWX .auto-group-re4f-UCP .auto-group-km4b-kp7 .frame-18-aib {
  width: 17.6rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 18.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.92;
  color: #ffffff;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #3badab;
  box-sizing: border-box;
  background-color: #3badab;
  border-radius: 4rem;
}
.desktop-28-i4o .frame-14-yWX .auto-group-h1uj-DQB {
  margin: 0rem 5.7rem 48.15rem 0rem;
  box-sizing: border-box;
  padding: 2.1rem 0.6rem;
  border: solid 0.3rem #3badab;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-28-i4o .frame-14-yWX .auto-group-h1uj-DQB .smartphone-call-1-Ky1 {
  width: 16.8rem;
  height: 16.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-28-i4o .frame-14-yWX .auto-group-kmd1-E4P {
  margin-bottom: 48.15rem;
  box-sizing: border-box;
  padding: 2.1rem 0rem 2.1rem 1.1rem;
  border: solid 0.3rem #3badab;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-28-i4o .frame-14-yWX .auto-group-kmd1-E4P .remote-control-1-Y55 {
  width: 16.9rem;
  height: 16.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-28-i4o .rectangle-24-dMR {
  width: 18rem;
  height: 21rem;
  position: absolute;
  left: 78.5rem;
  top: 40.7rem;
  border: solid 0.3rem #3badab;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
}
.desktop-28-i4o .rectangle-27-vrK {
  width: 18rem;
  height: 21rem;
  position: absolute;
  left: 78.5rem;
  top: 64.8rem;
  border: solid 0.3rem #3badab;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
}
.desktop-28-i4o .rectangle-26-3g3 {
  width: 18rem;
  height: 21rem;
  position: absolute;
  left: 102.2rem;
  top: 40.7rem;
  border: solid 0.3rem #3badab;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
}
.desktop-28-i4o .adapter-1-y3u {
  width: 15.8rem;
  height: 15.8rem;
  position: absolute;
  left: 79.6rem;
  top: 43.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-28-i4o .mouse-1-hkb {
  width: 16.5rem;
  height: 16.5rem;
  position: absolute;
  left: 103.3rem;
  top: 43.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-28-i4o .wristwatch-1-deF {
  width: 16rem;
  height: 16rem;
  position: absolute;
  left: 79.5rem;
  top: 68.1rem;
  object-fit: cover;
  vertical-align: top;
}
