html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 100%;
}
.desktop-22-bhq {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #3badab;
}
.desktop-22-bhq .rectangle-17-wWo {
  width: 120.5rem;
  height: 7rem;
  position: absolute;
  left: 11.7rem;
  top: 16.5rem;
  background-color: #82cfcd;
  border-radius: 1rem;
}
.desktop-22-bhq .rectangle-18-Tzw {
  width: 120.5rem;
  height: 68.7rem;
  position: absolute;
  left: 11.7rem;
  top: 21.9rem;
  background-color: #ffffff;
}
.desktop-22-bhq .logo-without-reverse-2-oou {
  width: 20.6rem;
  height: 20.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-22-bhq .frame-18-kUF {
  width: 45rem;
  height: 9rem;
  position: absolute;
  left: 25.3rem;
  top: 74.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.92;
  color: #ffffff;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #3badab;
  box-sizing: border-box;
  background-color: #3badab;
  border-radius: 5rem;
}
.desktop-22-bhq .frame-19-RqH {
  width: 45rem;
  height: 9rem;
  position: absolute;
  left: 73.6rem;
  top: 74.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.92;
  color: #ffffff;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.5rem #3badab;
  box-sizing: border-box;
  background-color: #3badab;
  border-radius: 5rem;
}
.desktop-22-bhq .account-id-Vq9 {
  width: 13.9rem;
  height: 3rem;
  position: absolute;
  left: 16rem;
  top: 28.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-22-bhq .rectangle-19-btB {
  width: 112rem;
  height: 5rem;
  position: absolute;
  left: 16rem;
  top: 33.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-22-bhq .item-00001-KJP {
  width: 8.5rem;
  height: 3rem;
  position: absolute;
  left: 18.7rem;
  top: 35.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-22-bhq .waste-RMR {
  width: 8.1rem;
  height: 3rem;
  position: absolute;
  left: 16rem;
  top: 42.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-22-bhq .rectangle-20-KSo {
  width: 112rem;
  height: 5rem;
  position: absolute;
  left: 16rem;
  top: 46.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-22-bhq .total-points-eEB {
  width: 15.1rem;
  height: 3rem;
  position: absolute;
  left: 16rem;
  top: 55.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-22-bhq .rectangle-21-MeP {
  width: 112rem;
  height: 5rem;
  position: absolute;
  left: 16rem;
  top: 59.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.desktop-22-bhq .remote-HH9 {
  width: 10rem;
  height: 3rem;
  position: absolute;
  left: 18.7rem;
  top: 48.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-22-bhq .points-njh {
  width: 12.3rem;
  height: 3rem;
  position: absolute;
  left: 18.7rem;
  top: 61.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.92;
  color: #000000;
  font-family: League Spartan, 'Source Sans Pro';
  white-space: nowrap;
}
