html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 100%; /* Change the width to 100% */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}
.desktop-14-kbH {
  box-sizing: border-box;
  padding-right: 24.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #3badab;
}
.desktop-14-kbH .logo-without-reverse-2-Vom {
  margin-right: 3.4rem;
  width: 20.6rem;
  height: 20.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-14-kbH .auto-group-biq5-Qvj {
  margin-top: 15.5rem;
  height: 76.6rem;
  flex-shrink: 0;
}
.desktop-14-kbH .auto-group-biq5-Qvj .image-2-A9D {
  width: 95.9rem;
  height: 71.3rem;
  object-fit: cover;
  vertical-align: top;
}
